/* Main background */
.main {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

/* Wrapper */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Card */
.about-card {
    background-color: #000000;
    padding: 40px;
    border-radius: 12px;
    width: 600px;
    max-width: 95%;
    color: rgb(255, 255, 255);
    border: 1px solid #333;
    text-align: center;
}

/* Heading */
.about-card h1 {
    margin-bottom: 20px;
    font-size:30px;
}

/* Paragraphs */
.about-card p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #cccccc;
}

/* Home link */
.home-link {
    margin-top: 20px;
}

.home-link a {
    color: #9000ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.home-link a:hover {
    text-decoration: underline;
}