/* Main Container */
.container {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

/* Top Section */
.top {
    text-align: center;
    background-color: #000000;
    border-radius: 60px;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
}

.top h1 {
    font-size: 32px;
}

/* Middle Section */

.middle {
    display: flex;
    gap: 5%;
    margin-left: 4%;
}

.middle1 {
    margin-bottom: 4%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    width: 70%;
}


.middle2 {
    margin-bottom: 4%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    width: 15%;
    height: 20%;
}

.middle1 h2 {
    margin-bottom: 20px;
}

/* Previous Record Boxes */

.dsa-previous {
    background-color: #000000;
    padding-left: 20px;
    padding-bottom: 40px;
    border-radius: 40px;
    border: 1px solid #333;
    margin-bottom: 10px;
    height: 27vh;
}

.dev-previous {
    background-color: #000000;
    padding-left: 20px;
    padding-bottom: 40px;
    border-radius: 40px;
    border: 1px solid #333;
    margin-top: 18px;
    height: 27vh;
}

.dsa-previous h3,
.dev-previous h3 {

    margin-bottom: 10px;
    color: #00ff00;
}

/* Bottom Section */
.bottom {
    text-align: center;
}


/* Button Group */


/* Buttons */
.button {
    background-color: #000000;
    color: white;
    border: none;

    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 27vh;
    width: 30vh;

}

.button:hover {
    background-color: #e85d00;
}

.button:active {
    background-color: #ff0000;
}

.buttonLogout {
    background-color: #ffffff;
    border-radius: 80px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #333;
    padding: 10px;
    height: 50px;
    width: 27vh;
}




.dsa-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.dsa-cards {
    display: flex;
    gap: 15px;
}

.dsa-slider button {
    height: 40px;
    width: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.dir-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.dir-button:hover {
    background-color: #2e2e2e;
    transform: scale(1.05);
}

.dir-button:active {
    background-color: #000000;
    transform: scale(0.95);
}