.dsa-audio{
    display: flex;
    align-items: center;
    gap: 15px;
}
.dsa-question {
    scrollbar-width: thin;
    scrollbar-color: #555 #232323;
}

.dsa-code {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #000000;
}

.dsa-code textarea {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #000000;
}

/* Main container */
.dsa-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

/* ================= TOP (10%) ================= */
.dsa-top {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #202020;
    border: 10px solid #000000;
    border-radius: 20px;
}

.dsa-header h1 {
    font-size: 22px;
}

.dsa-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.back-button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.back-button:hover {
    background-color: #484747;
    transform: scale(1.05);
}

.back-button:active {
    background-color: #ffffff;
    color: #000000;
    transform: scale(0.95);
}

/* Audio Button (Meeting Style) */
.mic-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.mic-button:hover {
    background-color: #484747;
    transform: scale(1.05);
}

.mic-button:active {
    background-color: #ffffff;
    transform: scale(0.95);
}

/* ================= MIDDLE (80%) ================= */
.dsa-middle {
    height: 80%;
    display: flex;
}

/* Question Section */
.dsa-question {
    width: 50%;
    padding: 20px 28px 20px 20px;
    border: 1px solid #333;
    overflow-y: auto;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: #0e0e0e;
    border-radius: 20px;
    border: 10px solid #000000;
}

/* Code Section */
.dsa-code {
    width: 50%;
    padding: 12px;
    overflow-y: auto;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.dsa-code textarea {
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: #1c1c1c;
    color: white;
    border: 20px solid #1c1c1c;
    border-radius: 8px;
    resize: none;
    font-family: monospace;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

/* ================= BOTTOM (10%) ================= */
.dsa-bottom {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top: 1px solid #333;
    background-color: #1c1c1c;
    border: #000000 10px solid;
    border-radius: 20px;

}

/* 80% audio text */
.audio-text {
    width: 80%;
    color: #bbbbbb;
    overflow-x: auto;
    font-size: 10px;
}

/* 20% button */
.dsa-button {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.dsa-button button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #1900ff;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.dsa-button button:hover {
    background-color: #e85d00;
}

.dsa-button button:active {
    background-color: #ff1100;
}

.start-button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #16a34a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.start-button:hover {
    background-color: #15803d;
}

.start-button:active {
    background-color: #166534;
}

.spin-icon {
    animation: spin 0.1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
