.dsa-card {
    width: 20%;
    min-height: 120px;
    background-color: #f0e9e9;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.dsa-card:hover {
    transform: translateY(-5px);
}

.dsa-card .cardtop {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding:7px;
    background-color: black;
    margin-bottom: 5%;
    height: 40%;
    border-radius: 15px;
}

.dsa-card .cardmiddle {
    font-size: 14px;
    color: #bfbfbf;
    background-color: black;
    height:60%;
    padding:7px;
    border-radius: 15px;
}

.dsa-card a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    font-size: 13px;
    color: #3b82f6;
}

.dsa-card a:hover {
    text-decoration: underline;
}

